<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d0550d6-321b-4638-bb42-a241c601929a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-05-25T14:09:16</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-GB">Home</Name>
      <Name Culture="en-US">home</Name>
      <Name Culture="sv">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="90db0a7e-bfee-4808-ac56-4c6794c33559">home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value Culture="en-GB"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "870f5419-2326-4d17-9fc5-77e2216a6c66",
      "udi": "umb://element/ee9c2d2c06034660a89a5998ada048cc",
      "headline": "Hello"
    },
    {
      "contentTypeKey": "901f83af-55ea-4687-acde-22a7e99bf52e",
      "udi": "umb://element/1882f074886c43d483fa8d6a707afd94",
      "image": "[{\u0022key\u0022:\u0022200b459f-2cc3-4e17-8e2d-45f5f543293c\u0022,\u0022mediaKey\u0022:\u0022102b4645-f186-413f-aa26-6a0a3278e001\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "f836a88b-9e74-41f7-88b0-23a355a1c7fb",
      "udi": "umb://element/f976fd4585fe401e8d01a170b630af67",
      "relatedContent": "umb://document/8d0550d6321b4638bb42a241c601929a"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ee9c2d2c06034660a89a5998ada048cc",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/1882f074886c43d483fa8d6a707afd94",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/f976fd4585fe401e8d01a170b630af67",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "901f83af-55ea-4687-acde-22a7e99bf52e",
      "udi": "umb://element/dd515139024d4513a4158b4f35e3aa64",
      "image": "[{\u0022key\u0022:\u0022eac0c0f5-c359-41f2-9201-e2fd0b10eb00\u0022,\u0022mediaKey\u0022:\u0022102b4645-f186-413f-aa26-6a0a3278e001\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/dd515139024d4513a4158b4f35e3aa64",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "870f5419-2326-4d17-9fc5-77e2216a6c66",
      "udi": "umb://element/fa032696b38a4d388e7c27575e680c38",
      "headline": "Hello"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/fa032696b38a4d388e7c27575e680c38",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </gridContent>
  </Properties>
</Content>