<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="27d659b9-37a2-4a29-9cea-c801dc0083f8" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ed5e3d7d-6e97-4bbb-bcaf-e02a0e0f09bf">basePage</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8308f753-3305-4051-8e54-dc5f327ed677">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="27d659b9-37a2-4a29-9cea-c801dc0083f8" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>