<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a9dd461-c9fb-45ca-ab35-e551c9947853" Alias="Content 1" Level="2">
  <Info>
    <Parent Key="8d0550d6-321b-4638-bb42-a241c601929a">Home</Parent>
    <Path>/Home/Content1</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-06-17T22:45:39</CreateDate>
    <NodeName Default="Content 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8308f753-3305-4051-8e54-dc5f327ed677">contentPage</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "901f83af-55ea-4687-acde-22a7e99bf52e",
      "key": "32f78dc6-043a-46bc-b000-218aaea05999",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "40e30c1f-5507-4215-9044-ab3c127d174e",
              "mediaKey": "96ec6fe5-85e7-40d3-9840-f1513a95ef9f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "901f83af-55ea-4687-acde-22a7e99bf52e",
      "key": "67429d12-0234-4d2d-ab59-5b96a68f6859",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d428cf5a-a285-449f-9ac5-96a983ab20db",
              "mediaKey": "102b4645-f186-413f-aa26-6a0a3278e001",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f836a88b-9e74-41f7-88b0-23a355a1c7fb",
      "key": "e419c721-47ec-4b54-b817-bd641d2d23da",
      "values": [
        {
          "alias": "relatedContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/8d0550d6321b4638bb42a241c601929a"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "32f78dc6-043a-46bc-b000-218aaea05999",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "67429d12-0234-4d2d-ab59-5b96a68f6859",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "e419c721-47ec-4b54-b817-bd641d2d23da",
        "rowSpan": 1,
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </gridContent>
  </Properties>
</Content>