<uui-box headline="Welcome">
	<p>
		This dashboard is designed to help you manage relations between your content items.
	</p>
	<p>
		To get started, select a relation type from the tree on the left.

		You will then be able to manage all the relations for that type.
		You can also create new relations by clicking the "Create Relation" button.
	</p>

	<uui-button look="outline" href="https://github.com/jcdcdev/jcdcdev.Umbraco.RelationsManager/" target="_blank">
		<uui-icon name="document"></uui-icon>
		Documentation
	</uui-button>

	<uui-button look="outline" href="https://github.com/jcdcdev/jcdcdev.Umbraco.RelationsManager/main/" target="_blank">
		<uui-icon name="alert"></uui-icon>
		Report a Bug
	</uui-button>

	<uui-button look="outline" href="https://github.com/jcdcdev/jcdcdev.Umbraco.RelationsManager/main/" target="_blank">
		<uui-icon name="wand"></uui-icon>
		Request a Feature
	</uui-button>
</uui-box>