<uui-box headline="Welcome">
	<p>
		This dashboard is designed to help you manage relations between your content items.
	</p>
	<p>
		To get started, select a relation type from the tree on the left.
	</p>

	<uui-button look="outline" href="https://github.com/jcdcdev/jcdcdev.Umbraco.RelationsManager/#jcdcdevumbracorelationsmanager" target="_blank">
		<uui-icon name="document"></uui-icon>
		Documentation
	</uui-button>

	<uui-button look="outline" href="https://github.com/jcdcdev/jcdcdev.Umbraco.RelationsManager/issues/new?assignees=bug&template=bug.yml" target="_blank">
		<uui-icon name="alert"></uui-icon>
		Report a Bug
	</uui-button>

	<uui-button look="outline" href="https://github.com/jcdcdev/jcdcdev.Umbraco.RelationsManager/issues/new?assignees=enhancement&template=feature_request.yml" target="_blank">
		<uui-icon name="wand"></uui-icon>
		Request a Feature
	</uui-button>
</uui-box>